@use '../util/breakpoints' as p;

.navbar__col1 {
    
}

.navbar {
    display: inline-flex;
    padding: 1rem 2.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    border-bottom: 0.5px solid #3D3D3D;
    width: 100%;
    color: white;
    margin-bottom: 6.25rem;

    @include p.break(zero, mobile) {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding: 0.75rem 1.5rem;
        align-items: flex-start;
        // height: 3.3125rem;
        height: auto;
        gap: 0;
        margin-bottom: 5.5rem;
    }

    &__col1 {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        width: 30%;

        @include p.break(zero, mobile) {
            width: 50%;
            //align-items: flex-start;
        }

        & img {
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            //transform: rotate(78.922deg);
            justify-content: center;
            align-items: center;
        }

        & p {
            color: var(--White, #FFF);
            // font-family: SF Pro Display;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

    }

    &__col2 {

        display: inline-flex;
        align-items: flex-start;
        gap: 3.75rem;
        color: hsla(0, 0%, 74%, 1);
        width: 30%;
        justify-content: center;

        @include p.break(zero, mobile) {
            gap: 0;
            width: 100%;
            flex-direction: column;
            margin-block: 0;
            //display: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        & a {
            @include p.break(zero, mobile) {
                padding-block: 1rem;
                width: 100%;
            }

            &:hover {
                color: #2B892E;
            }
        }

    }

    &__col3 {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        color: hsla(0, 0%, 100%, 1);
        width: 30%;

        @include p.break(zero, mobile) {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            //margin-block: 1rem;
            //display: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.6s ease-out;
        }

        & a:nth-child(1) {
            // color: #FFF;
            // font-family: SF Pro Display;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 0.55rem 0.75rem 0.7rem 0.75rem;
            line-height: 0.75rem;
            border-radius: 6.25rem;
            transition: background-color 0.3s ease-in-out;

            @include p.break(zero, mobile) {
                padding: 1.25rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                background: #2B892E;
            }

            &:hover {
                //color: #2B892E;
                background-color: rgba(206, 198, 198, 0.13);
                backdrop-filter: blur(15px);
            }
        }

        & a:nth-child(2) {
            // color: #FFF;
            // font-family: SF Pro Display;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 0.75rem;
            display: flex;
            padding: 0.625rem 0.75rem;
            justify-content: center;
            align-items: center;
            //gap: 0.625rem;
            border-radius: 6.25rem;
            background: #2B892E;
            transition: filter 0.2s ease-in-out;

            @include p.break(zero, mobile) {
                padding: 1.25rem;
                width: 100%;
            }

            &:hover {
                filter: brightness(1.3);
            }
        }
    }

    &__menuon {
        display: none;

        @include p.break(zero, mobile) {
            display: inline-block;
            margin-left: auto;
            // width: 50%;
            text-align: right;
            background-color: inherit;
            border: none;
        }

        & img {
            max-width: 1.5rem;
            height: auto;
        }
    }

}

.topheader {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    // width: 56rem;
    //width: 60%;

    @include p.break(zero, mobile) {}

    & button {
        display: flex;
        padding: 0.375rem 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 6.25rem;
        border: 0.2px solid #989898;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        color: #DCDCDC;
        // font-family: SF Pro Display;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;

        @include p.break(zero, mobile) {
            display: flex;
            padding: 0.375rem 0.75rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875rem;
        }

        &:hover {
            transform: scale(1.03);
            transition: transform 0.2s;
            //filter: brightness(1.2);
        }
    }

    & h1 {
        align-self: stretch;
        color: #FFF;
        text-align: center;
        // font-family: SF Pro Display;
        font-size: clamp(4rem, 6.67vw, 6rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 65%;
        max-width: 60rem;
        margin: 0 auto;
        margin-bottom: 1.5rem;

        @include p.break(zero, mobile) {
            font-size: clamp(2rem, 2.78vw, 2.5rem);
            width: 90%;
            margin-bottom: 1rem;
        }
    }

    & p {
        color: #BDBDBD;
        text-align: center;
        // font-family: SF Pro Display;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 45%;
        max-width: 50rem;
        margin-bottom: 2rem;

        @include p.break(zero, mobile) {
            font-size: 1rem;
            width: 90%;
            margin-bottom: 1.5rem;
        }
    }

    & a {
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 6.25rem;
        background: #2B892E;
        color: #FFF;
        // font-family: SF Pro Display;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 0.75rem;
        margin-bottom: 6.25rem;
        transition: filter 0.2s ease-in-out;

        @include p.break(zero, mobile) {
            margin-bottom: 5rem;
        }

        &:hover {
            filter: brightness(1.3);
        }
    }

    &__bg {
        position: absolute;
        top: -2.94rem;
        z-index: -1;
        max-width: 100%;
        stroke-width: 1px;
        stroke: #FFF;

        @include p.break(zero, mobile) {
            top: 0rem;
        }
    }

}

.heroimg {
    text-align: center;
    margin-bottom: 6.5rem;

    @include p.break(zero, mobile) {
        margin-bottom: 3.75rem;
    }

    & img:nth-child(1) {
        width: 95%;
        height: auto;
        margin: 0 auto;

        @include p.break(zero, mobile) {
            display: none;
        }
    }

    & img:nth-child(2) {
        display: none;

        @include p.break(zero, mobile) {
            display: block;
            width: 90%;
            height: auto;
            margin: 0 auto;
        }
    }
}

.featured {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 12rem;
    width: 100%;

    @include p.break(zero, mobile) {
        gap: 1.75rem;
        margin-bottom: 6.25rem;
    }

    & p {
        color: #BDBDBD;
        // font-family: SF Pro Display;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

        @include p.break(zero, mobile) {
            font-size: 1rem;
        }
    }

    & figure {
        display: flex;
        align-items: center;
        gap: clamp(3rem, 5.56vw, 5rem);

        @include p.break(zero, mobile) {
            // gap: 3.75rem;
            gap: 4%;
            max-width: 100%;
            // flex-flow: row wrap;
            justify-content: center;
        }

        & img {

            @include p.break(zero, mobile) {
                width: 13%;
                height: auto;
            }
        }
    }
}

.elevate {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 6.75rem;

    @include p.break(zero, mobile) {
        margin-bottom: 5rem;
    }

    & h2 {
        color: var(--White, #FFF);
        text-align: center;
        // font-family: SF Pro Display;
        font-size: clamp(3rem, 5.22vw, 4.75rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 50%;

        @include p.break(zero, mobile) {
            font-size: 2.25rem;
            width: 90%;
        }

        @include p.break(tabletmin, tabletmax) {
            width: 70%;
        }
    }

    & p {
        color: #989898;
        text-align: center;
        // font-family: SF Pro Display;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        width: 45%;

        @include p.break(zero, mobile) {
            font-size: 1rem;
            width: 90%;
        }

        @include p.break(tabletmin, tabletmax) {
            width: 60%;
        }
    }
}

.grids {
    width: 100%;
    padding-inline: 5%;

    // GENERAL STYLES

    &__row1,
    &__row2 {
        display: flex;
        gap: 2.4692%;
        width: 100%;

        @include p.break(zero, tabletmax) {
            flex-direction: column;
        }
    }

    &__row1__col1,
    &__row1__col2,
    &__row2__col1,
    &__row2__col2 {
        min-height: 31.25rem;
        flex-shrink: 0;
        border-radius: 0.75rem;
        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
        background: #131313;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include p.break(zero, tabletmax) {
            min-width: 100%;
            min-height: 24.6875rem;
            margin-bottom: 2rem;
            // padding-left: 7vw;
        }
    }

    .gradient {
        position: absolute;
        bottom: -0.4rem;
        width: 100%;
        overflow: hidden;

        @include p.break(zero, tabletmax) {}
    }

    .stroke {
        //width: 100%;
        width: auto;
        height: 100%;
        position: absolute;
        top: clamp(-8rem, 1vw + 2rem, -10rem);
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;

        @include p.break(tabletmin, tabletmax) {
            height: 80%;
            top: 0rem;
        }
    }

    &__row1__col2,
    &__row2__col1 {

        & .stroke {
            top: -3rem;
            width: 150%;
        }
    }

    .p1 {
        color: var(--White, #FFF);
        // font-family: SF Pro Display;
        font-size: clamp(1.5rem, 2.2vw, 2rem);
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
        /* 87.5% */
        align-self: stretch;
        margin-bottom: 1rem;

        @include p.break(zero, tabletmax) {
            font-size: 1.5rem;
        }
    }

    .p2 {
        color: #BDBDBD;
        // font-family: SF Pro Display;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        /* 150% */
        max-width: 30rem;

        @include p.break(zero, tabletmax) {
            font-size: 1rem;
        }
    }

    // /GENERAL STYLES


    &__row1 {
        margin-bottom: clamp(2rem, 2.2vw, 5rem);

        @include p.break(zero, tabletmax) {
            margin-bottom: 0vw;
        }

        &__col1 {
            // width: 51.375rem;
            width: 63.4259%;
            // padding: 3rem 2.5rem 2.5rem 2.5rem;
            padding: 3.704% 3.086% 3.086% 3.086%;
            text-align: center;

            @include p.break(zero, tabletmax) {
                padding: 2.33rem 5% 1.5rem 5%;
            }

            & .stats {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                gap: 0.75rem;
                margin-bottom: 5.25rem;
                position: relative;
                height: auto;
                width: 100%;

                @include p.break(zero, tabletmax) {
                    margin-bottom: 5.47rem;
                    gap: 0.53rem;
                }

                @include p.break(tabletmin, tabletmax) {
                    width: 60%;
                }

                & div {
                    border-radius: 0.75rem;
                    border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
                    background: #202020;
                    display: flex;
                    // width: 22.25rem;
                    width: auto;
                    padding: clamp(0.64rem, 1.11vw, 1rem);
                    align-items: center;
                    gap: 1rem;

                    @include p.break(zero, tabletmax) {
                        width: 78.1%;
                        padding: 0.64rem;
                        // gap: 0.69rem;
                        gap: 4.23%;
                    }

                    & img {
                        //width: 1.34694rem;
                        // height: 1.34694rem;
                        flex-shrink: 0;
                        display: flex;
                        width: 2.75rem;
                        height: 2.75rem;
                        padding: 0.6875rem 0.71556rem 0.71556rem 0.6875rem;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.5rem;
                        background: #2B2B2B;

                        @include p.break(zero, tabletmax) {
                            width: 1.47656rem;
                            height: 1.47656rem;
                            flex-shrink: 0;
                            padding: 0.3rem;
                        }
                    }

                    & p {
                        color: #FFF;
                        // font-family: SF Pro Display;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5rem;
                        /* 150% */

                        @include p.break(zero, tabletmax) {
                            font-size: 0.69rem;
                            line-height: 0.7rem;
                            text-align: left;
                        }

                    }

                }

                & div:nth-child(2) {
                    padding: 1rem 1.5rem;
                    width: auto;

                    @include p.break(zero, tabletmax) {
                        width: 100%;
                        padding: 0.64rem 4.1%;
                        // padding: 1.64rem 4.1%;
                    }

                    & img {
                        width: 3rem;
                        height: 3rem;
                        flex-shrink: 0;

                        @include p.break(zero, tabletmax) {
                            width: 1.6rem;
                            height: 1.6rem;
                        }
                    }

                    &>p {
                        font-size: 1.25rem;

                        @include p.break(zero, tabletmax) {
                            font-size: 0.8rem;
                            line-height: 0.79rem;
                            width: 100%;
                        }
                    }
                }

                & .gradient {
                    bottom: -3rem;
                    overflow: hidden;
                }
            }

            & section {
                text-align: left;

                @include p.break(zero, tabletmax) {}

                & .p1 {}

                & .p2 {
                    width: 65%;

                    @include p.break(zero, tabletmax) {
                        width: 100%;
                    }
                }
            }

        }

        &__col2 {
            // width: 27.625rem;
            width: 34.1049%;
            // padding-top: 3.37rem;
            // padding-left: 2.5rem;
            padding: 4.16049% 0 3.086% 3.086%;

            @include p.break(zero, tabletmax) {
                padding: 3.83rem 0 1.5rem 5%;
            }

            & .stats {
                display: inline-flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 0.75rem;
                width: 100%;
                margin-bottom: 5.38rem;
                position: relative;

                @include p.break(zero, tabletmax) {
                    margin-bottom: 1.9rem;
                }

                @include p.break(tabletmin, tabletmax) {
                    padding-left: 10%;
                }

                & div {
                    display: flex;
                    // width: 23.125rem;
                    width: 92.0398%;
                    padding: 0.75rem 1rem;
                    align-items: center;
                    gap: 1rem;
                    border-radius: 1rem 0rem 0rem 1rem;
                    border: 1px solid var(--gradient, rgba(255, 255, 255, 0.01));
                    background: #202020;

                    @include p.break(zero, tabletmax) {
                        // width: 16.57794rem;
                        width: 82.557%;
                        height: 2.83038rem;
                        flex-shrink: 0;
                        gap: 0.75rem;
                        padding: 0.52rem 0.7rem;
                    }

                    & img {
                        display: flex;
                        width: clamp(1.7rem, 2.78vw, 2.5rem);
                        height: clamp(1.7rem, 2.78vw, 2.5rem);
                        padding: 0.5rem;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 0.5rem;
                        background: #2B4089;

                        @include p.break(zero, tabletmax) {
                            width: 1.79706rem;
                            height: 1.79706rem;
                            padding: 0.43rem 0.49rem;
                        }
                    }

                    & p {
                        color: #FFF;
                        // font-family: SF Pro Display;
                        font-size: clamp(0.81rem, 1.39vw, 1.25rem);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.5rem;
                        /* 120% */

                        @include p.break(zero, tabletmax) {
                            font-size: 0.81rem;
                        }

                    }
                }

                & div:nth-child(2) {
                    // width: 25.5625rem;
                    width: 101.741%;
                    padding: clamp(0.7rem, 1.1111vw, 1rem);
                    gap: 1rem;

                    @include p.break(zero, tabletmax) {
                        //width: 18.33rem;
                        width: 90.75%;
                        padding: 0.7rem;
                        gap: 0.76rem;
                    }

                    & img {
                        width: clamp(1.9rem, 3.06vw, 2.75rem);
                        height: clamp(1.9rem, 3.06vw, 2.75rem);
                        padding: 0.625rem;
                        background: #2B892E;

                        @include p.break(zero, tabletmax) {
                            width: 1.97675rem;
                            height: 1.97675rem;
                            flex-shrink: 0;
                            padding: 0.52rem;
                        }
                    }

                    & p {
                        font-size: clamp(0.98rem, 1.67vw, 1.5rem);

                        @include p.break(zero, tabletmax) {
                            font-size: 0.981rem;
                        }
                    }
                }

                & div:nth-child(3) {

                    & img {
                        background: #D06604;
                    }
                }

                & .gradient {
                    width: 101.741%;
                    height: 11rem;

                    @include p.break(zero, tabletmax) {
                        bottom: -1rem;
                    }

                    & img {
                        min-width: 100%;
                    }
                }
            }

            & section {
                width: 100%;
                padding-right: 2.5rem;
            }
        }
    }

    &__row2 {
        margin-bottom: 11.25rem;

        @include p.break(zero, tabletmax) {
            margin-bottom: 3.63rem;
        }

        &__col1 {
            // width: 27.625rem;
            width: 34.1049%;
            // padding: 7.31rem 2.5rem 2.5rem 2.5rem;
            padding: 9.0247% 3.086% 3.086% 3.086%;

            @include p.break(zero, tabletmax) {
                padding: 4.78rem 1.53rem 1.5rem 1.53rem;
            }

            &>div {
                display: inline-flex;
                padding: 1.5rem 0;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                border-radius: 0.75rem;
                border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
                background: #202020;
                width: 100%;
                position: relative;

                @include p.break(zero, tabletmax) {}

                @include p.break(tabletmin, tabletmax) {
                    width: 46%;
                    margin-inline: 27%;
                }

                & .top {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding-inline: 1rem;

                    @include p.break(zero, tabletmax) {}

                    & img {
                        width: 3.75rem;
                        flex-shrink: 0;

                        @include p.break(zero, tabletmax) {
                            width: 3.04556rem;
                            height: 3.04556rem;
                        }
                    }

                    & .namediv {
                        border: none;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;

                        @include p.break(zero, tabletmax) {}

                        & .p1 {
                            color: #FFF;
                            // font-family: SF Pro Display;
                            font-size: 1.5rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-bottom: 0;

                            @include p.break(zero, tabletmax) {
                                font-size: 1.1rem;
                            }
                        }

                        & .p2 {
                            color: #989898;
                            // font-family: SF Pro Display;
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                            @include p.break(zero, tabletmax) {
                                font-size: 0.63rem;
                            }
                        }
                    }
                }

                & .bottom {
                    border: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0;
                    padding-inline: 1rem;
                    width: 100%;

                    @include p.break(zero, tabletmax) {}

                    & p {
                        color: #BDBDBD;
                        // font-family: SF Pro Display;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        @include p.break(zero, tabletmax) {
                            font-size: 0.9rem;
                        }
                    }

                    & img {
                        width: 1.5rem;
                        height: 1.5rem;

                        @include p.break(zero, tabletmax) {
                            width: 0.98981rem;
                            height: 0.91369rem;
                            flex-shrink: 0;
                        }
                    }
                }

                & .gradient {
                    overflow: hidden;
                    width: 124%;
                    left: -12%;
                    bottom: -2rem;

                    @include p.break(zero, tabletmax) {
                        width: calc(100% + 3.06rem);
                        left: -1.53rem;
                        bottom: -2rem;
                    }

                    & img {
                        //height: 6.375rem;
                        width: 100%;
                    }
                }

            }

            & section {
                margin-top: 6.43rem;

                @include p.break(zero, tabletmax) {
                    margin-top: 3.7rem;
                }

                & .p1 {}

                & .p2 {}
            }

        }

        &__col2 {
            // width: 51.375rem;
            width: 63.4259%;
            // padding: 4.75rem 2.5rem 2.5rem 2.5rem;
            padding: 5.8642% 3.086% 3.086% 3.086%;

            @include p.break(zero, tabletmax) {
                padding: 2.91rem 1.53rem 1.5rem 1.53rem;
            }

            & .imgcontainer {
                display: flex;
                // flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                // padding-inline: 13.19rem;
                //padding-inline: 23.6739%;
                margin-bottom: 6.38rem;
                position: relative;

                @include p.break(zero, tabletmax) {
                    padding-inline: 0;
                    gap: 1.07rem;
                    margin-bottom: 1.18rem;
                }

                & .one,
                & .two {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: inherit;

                    &>img {
                        display: flex;
                        width: 5.4375rem;
                        height: 5.4375rem;
                        padding: 1.5rem 1.4375rem 1.4375rem 1.5rem;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 0.625rem;
                        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
                        background: #202020;

                        @include p.break(zero, tabletmax) {
                            // width: 5.39338rem;
                            // height: 5.39338rem;
                            width: clamp(3.5rem, 22vw, 5.5933rem);
                            height: clamp(3.5rem, 22vw, 5.3933rem);
                            flex-shrink: 0;
                        }
                    }
                }



                & .gradient {

                    @include p.break(desktop, infinite) {
                        bottom: -3rem;
                        overflow: hidden;
                    }

                    @include p.break(zero, mobile) {
                        //left: -3.086%;
                    }

                    @include p.break(tabletmin, tabletmax) {
                        padding-left: 10%;
                    }

                    & img {

                        @include p.break(zero, tabletmax) {
                            height: 7.5625rem;
                        }

                        @include p.break(tabletmin, tabletmax) {
                            width: 100%;
                        }
                    }
                }
            }

            & section {


                & .p1 {}

                & .p2 {
                    width: 65%;

                    @include p.break(zero, tabletmax) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.freedom {
    width: 100%;
    height: auto;
    padding: 0 5%;

    @include p.break(zero, mobile) {}

    &>h3 {
        color: var(--White, #FFF);
        text-align: center;
        // font-family: SF Pro Display;
        font-size: clamp(2.25rem, 5.23vw, 4.75rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 62%;
        margin: 0 auto 1.5rem auto;

        @include p.break(zero, mobile) {
            font-size: 2.25rem;
            width: 100%;
        }
    }

    &>p {
        color: #BDBDBD;
        text-align: center;
        // font-family: SF Pro Display;
        font-size: clamp(1rem, 1.39vw, 1.25rem);
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        /* 140% */
        width: 45.6%;
        margin: 0 auto 7.75rem auto;

        @include p.break(zero, mobile) {
            font-size: 1rem;
            line-height: 1.5rem;
            width: 100%;
            margin-bottom: 5rem;
        }

        @include p.break(tabletmin, tabletmax) {
            width: 55%;
        }
    }

    & .hero {
        width: 100%;
        height: auto;
        margin-bottom: 5rem;

        @include p.break(zero, mobile) {
            display: none;
        }
    }

    & .heromobile {
        display: none;

        @include p.break(zero, mobile) {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 3.5rem;
        }
    }

    & .flexrow {
        display: inline-flex;
        align-items: flex-start;
        gap: 1.5rem;
        margin-bottom: 8.25rem;

        @include p.break(zero, mobile) {
            gap: 2rem;
            flex-direction: column;
            margin-bottom: 6rem;
        }

        & .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;

            & .top {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                align-self: stretch;

                @include p.break(zero, mobile) {}

                &>img {
                    width: 1.5rem;
                    height: 1.5rem;

                    @include p.break(zero, mobile) {}
                }

                &>h4 {
                    flex: 1 0 0;
                    color: var(--White, #FFF);
                    // font-family: SF Pro Display;
                    // font-size: 1.5rem;
                    font-size: clamp(1rem, 1.7vw, 1.5rem);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @include p.break(zero, mobile) {
                        font-size: 1.25rem;
                    }
                }
            }

            &>p {
                width: 97%;
                color: #BDBDBD;
                // font-family: SF Pro Display;
                // font-size: 1rem;
                font-size: clamp(0.6rem, 1.11vw, 1rem);
                font-style: normal;
                font-weight: 400;
                // line-height: 1.5rem; /* 150% */
                line-height: clamp(1rem, 1.3vw, 1.5rem);

                @include p.break(zero, mobile) {
                    font-size: 1rem;
                    width: 100%;
                    line-height: 1.5rem;
                }
            }
        }

    }
}

.lemon {
    display: flex;
    width: 100%;
    height: clamp(20rem, 60.833vw, 54.75rem);
    padding: clamp(3rem, 9.16vw, 8.25rem) 5%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #48D64C;
    margin-bottom: 7.75rem;

    @include p.break(zero, mobile) {
        // height: 35.5rem;
        height: auto;
        padding: 1.5rem;
        flex-direction: column;
        margin-bottom: 6rem;
    }

    & p {
        color: var(--Background, #070606);
        // font-family: SF Pro Display;
        // font-size: 8rem;
        font-size: clamp(5rem, 8.888vw, 8rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include p.break(zero, mobile) {
            font-size: clamp(2rem, 16vw, 3.75rem);
        }
    }
}

.statssection {
    width: 100%;
    height: auto;
    padding-inline: 5%;

    @include p.break(zero, mobile) {
        padding-inline: 6.399%;
    }

    &__top {
        display: flex;
        // width: 56rem;
        max-width: 80rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        margin-bottom: 6.25rem;

        @include p.break(zero, mobile) {
            margin-bottom: 5rem;
        }

        & h4 {
            align-self: stretch;
            color: var(--White, #FFF);
            // font-family: SF Pro Display;
            font-size: clamp(3rem, 5.3vw, 4.75rem);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 62.22%;

            @include p.break(zero, mobile) {
                font-size: 2.25rem;
                width: 100%;
            }
        }

        & p {
            color: #BDBDBD;
            // font-family: SF Pro Display;
            font-size: clamp(1rem, 1.39vw, 1.25rem);
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            /* 140% */
            //width: 41.75rem;
            width: 56.38%;

            @include p.break(zero, mobile) {
                font-size: 1rem;
                width: 100%;
                line-height: 1.5rem;
            }
        }
    }

    & .flexrow {
        display: flex;
        gap: 3.89%;
        align-items: center;
        max-width: 100%;
        margin-bottom: 6.25rem;

        @include p.break(zero, mobile) {
            flex-direction: column;
            margin-bottom: 3.75rem;
            gap: 2rem;
        }

        & .col {
            width: 48.1%;
            height: clamp(30rem, 46.53vw, 41.875rem);
            flex-shrink: 0;
            border-radius: 0.75rem;
            border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
            background: #131313;
            padding: clamp(2rem, 3.6vw, 3.25rem);

            @include p.break(zero, mobile) {
                width: 100%;
                height: 27.5rem;
            }

            & .p1 {
                color: var(--White, #FFF);
                // font-family: SF Pro Display;
                font-size: clamp(1.5rem, 2.22vw, 2rem);
                font-style: normal;
                font-weight: 500;
                line-height: 1.75rem;
                /* 87.5% */
                margin-bottom: 1rem;

                @include p.break(zero, mobile) {}

            }

            & .p2 {
                color: #BDBDBD;
                // font-family: SF Pro Display;
                font-size: clamp(1rem, 1.39vw, 1.25rem);
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;
                /* 140% */
                max-width: 40rem;

                @include p.break(zero, mobile) {
                    line-height: 1.5rem;
                }

            }

            & .strokecan {
                width: 100%;
                height: calc(100% - 4.5rem);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;

                @include p.break(zero, mobile) {}

                & .primary {

                    @include p.break(zero, mobile) {
                        width: 7.5rem;
                        height: 7.5rem;
                    }
                }

                & .strokebg {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    z-index: -1;

                    @include p.break(zero, mobile) {}
                }
            }
        }
    }

    &__bottom {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 6.25rem;

        @include p.break(zero, mobile) {
            margin-bottom: 3.75rem;
        }

        & .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            @include p.break(zero, mobile) {}

            & .p1 {
                color: #FFF;
                // font-family: SF Pro Display;
                font-size: clamp(1.25rem, 5.55vw, 5rem);
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @include p.break(zero, mobile) {}
            }

            & .p2 {
                color: #BDBDBD;
                // font-family: SF Pro Display;
                font-size: clamp(0.75rem, 1.25vw, 1.125rem);
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;

                @include p.break(zero, mobile) {}
            }
        }
    }
}

.selfieimg {
    max-width: 100%;
    height: auto;
    margin-bottom: 7.5rem;

    @include p.break(zero, mobile) {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 6rem;
    }

    & img {
        width: 100%;
        height: auto;

        @include p.break(zero, mobile) {
            width: 190%;
            height: auto;
            flex-shrink: 0;
        }
    }
}

.cardsection {
    width: 100%;
    height: auto;

    @include p.break(zero, mobile) {}

    &__top {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 7.37rem;

        @include p.break(zero, mobile) {
            margin-bottom: 5.75rem;
        }

        & .p1 {
            align-self: stretch;
            color: #48D64C;
            text-align: center;
            // font-family: SF Pro Display;
            font-size: clamp(1rem, 1.25vw, 1.125rem);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 1rem;

            @include p.break(zero, mobile) {}
        }

        &>h5 {
            color: var(--White, #FFF);
            text-align: center;
            // font-family: SF Pro Display;
            font-size: clamp(2.25rem, 5.27vw, 4.75rem);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 62.22%;
            margin-bottom: 1.5rem;

            @include p.break(zero, mobile) {
                width: 100%;
            }
        }

        & .p2 {
            color: #BDBDBD;
            text-align: center;
            // font-family: SF Pro Display;
            font-size: clamp(1rem, 1.38vw, 1.25rem);
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            /* 140% */
            width: 43%;

            @include p.break(zero, mobile) {
                width: 100%;
            }

            @include p.break(tabletmin, tabletmax) {
                width: 55%;
            }
        }
    }

    &>figure {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        margin-bottom: 4.99rem;

        @include p.break(zero, mobile) {
            margin-bottom: 3.55rem;
        }

        & img {
            padding-left: 2.6264rem;

            @include p.break(zero, mobile) {}
        }
    }

    &__bottom {
        display: inline-flex;
        align-items: flex-start;
        gap: 1.66%;
        width: 100%;
        padding-inline: 5%;
        margin-bottom: 8.56rem;

        @include p.break(zero, mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            margin-bottom: 6rem;
        }

        & .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;

            @include p.break(zero, mobile) {}

            & .top {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                align-self: stretch;

                @include p.break(zero, mobile) {}

                &>img {

                    @include p.break(zero, mobile) {}
                }

                &>p {
                    flex: 1 0 0;
                    color: var(--White, #FFF);
                    // font-family: SF Pro Display;
                    font-size: clamp(1.25rem, 1.66vw, 1.5rem);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @include p.break(zero, mobile) {}
                }
            }

            &>p {
                color: #BDBDBD;
                // font-family: SF Pro Display;
                font-size: clamp(0.8rem, 1.111vw, 1rem);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem;
                /* 150% */

                @include p.break(zero, mobile) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.carousel-container {
    display: flex;
    padding: clamp(2rem, 6.94vw, 6.25rem) 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #48D64C;

    @include p.break(zero, mobile) {
        padding: 2rem 1.5rem;
    }

    &>h6 {
        align-self: stretch;
        color: var(--Background, #070606);
        text-align: center;
        // font-family: SF Pro Display;
        font-size: clamp(2rem, 5.28vw, 4.75rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 53.9%;
        margin: 0 auto;
        margin-bottom: clamp(4rem, 7.22vw, 6.5rem);

        @include p.break(zero, mobile) {
            width: calc(100% - 3rem);
            margin: clamp(2rem, 6.94vw, 6.25rem) auto 2.5rem auto;
        }
    }

    & .carousel {
        width: 100%;
        height: clamp(21.5rem, 27.78vw, 25rem);
        margin-bottom: clamp(1.5rem, 2.78vw, 2.5rem);

        @include p.break(zero, mobile) {
            height: auto;
            margin-bottom: 0;
        }

        & .review {
            display: flex;
            width: 26rem;
            height: 100%;
            padding: clamp(1rem, 1.67vw, 1.5rem) clamp(1.5rem, 2.22vw, 2rem);
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            border-left: 2px solid var(--Background, #070606);

            @include p.break(zero, mobile) {
                display: flex;
                max-width: 100%;
                padding: 1.5rem 15%;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;
                border-left: none;
            }

            &>p {
                color: #292929;
                // font-family: SF Pro Display;
                font-size: clamp(1rem, 1.67vw, 1.5rem);
                font-style: normal;
                font-weight: 400;
                line-height: clamp(1.75rem, 2.22vw, 2rem);
                /* 133.333% */

                @include p.break(zero, mobile) {}
            }

            & .flexrow {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                @include p.break(zero, mobile) {}

                & .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.5rem;

                    @include p.break(zero, mobile) {}

                    & .p1 {
                        color: var(--Background, #070606);
                        // font-family: SF Pro Display;
                        font-size: clamp(1.25rem, 1.67vw, 1.5rem);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.5rem;
                        /* 100% */

                        @include p.break(zero, mobile) {}
                    }

                    & .p2 {
                        color: #292929;
                        // font-family: SF Pro Display;
                        font-size: clamp(0.75rem, 0.97vw, 0.875rem);
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        @include p.break(zero, mobile) {}
                    }
                }

                & .right {
                    width: clamp(2.5rem, 5.56vw, 5rem);
                    height: clamp(2.5rem, 5.56vw, 5rem);

                    @include p.break(zero, mobile) {}
                }
            }
        }
    }

    & .arrowbtns {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 2rem;
        padding-right: 3%;
        width: 100%;
        height: 4rem;
        margin-bottom: 1rem;

        @include p.break(zero, mobile) {}

        & button {
            display: flex;
            width: clamp(2.5rem, 4.2vw, 3.75rem);
            height: clamp(2.5rem, 4.2vw, 3.75rem);
            padding: 1.125rem;
            justify-content: center;
            align-items: center;
            border-radius: 6.25rem;
            border: 1px solid #000;
            background: #FFF;
            transition: background-color 0.2s ease-in-out;
            position: relative;
    
            @include p.break(zero, mobile) {}
    
            &:hover {
                background-color: #48D64C;
            }

            &> img {
                width: 13px;
                height: auto;
            }
        }
    }

    .swiper-button-prev:after, 
    .swiper-button-next:after {
        content: none;
    }

    .rotate {
        transform: rotate(180deg);
    }
}

.FAQ {
    width: 100%;
    height: auto;
    margin-top: clamp(6rem, 9.17vw, 8.25rem);
    margin-bottom: clamp(7.75rem, 11.11111vw, 10rem);
    padding-inline: clamp(1.5rem, 5vw, 4.5rem);

    @include p.break(zero, mobile) {}

    & h6 {
        width: 62%;
        margin-bottom: clamp(4.66rem, 6.94vw, 6.25rem);
        color: var(--White, #FFF);
        // font-family: SF Pro Display;
        font-size: clamp(3.75rem, 6.67vw, 6rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include p.break(zero, mobile) {}
    }

    & .accordion {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        //gap: 1.5rem;
        width: 100%;

        @include p.break(zero, mobile) {}

        & .row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // gap: clamp(2rem, 2.22vw, 2.5rem);
            width: 100%;

            @include p.break(zero, mobile) {}

            & .toggle-row {
                display: flex;
                width: 100%;
                padding-block: clamp(1.75rem, 1.86vw, 2rem);
                justify-content: space-between;
                align-items: center;
                border: none;
                background-color: inherit;
                transition: background-color 0.2s ease-in-out;

                @include p.break(mobile, infinite) {
                    
                    &:hover {
                        background-color: rgba(206, 198, 198, 0.13);
                        backdrop-filter: blur(15px);
                    }

                }

                & p {
                    color: #FFF;
                    // font-family: SF Pro Display;
                    font-size: clamp(1rem, 1.67vw, 1.5rem);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-align: left;

                    @include p.break(zero, mobile) {}
                }

                & img {
                    width: 1.5rem;
                    height: 1.5rem;
                    flex-shrink: 0;

                    @include p.break(zero, mobile) {}
                }
            }

            & .toggle-text {
                display: none;
                width: 75%;
                margin-left: 5%;
                margin-bottom: 1rem;

                @include p.break(zero, mobile) {
                    width: 90%;
                }

                & p {
                    color: #FFF;
                    // font-family: SF Pro Display;
                    font-size: clamp(1rem, 1.39vw, 1.25rem);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @include p.break(zero, mobile) {}
                }
            }
        }

    }
}

footer {
    width: 100%;
    height: auto;
    padding-inline: clamp(1.5rem, 4.5vw, 4.5rem);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    .footer__logo {
        display: flex;
        // align-items: flex-start;
        align-items: center;
        gap: 0.25rem;
        margin-bottom: clamp(2.5rem, 4.17vw, 3.75rem);

        & img {
            display: flex;
            width: clamp(4.5rem, 8.33vw, 7.5rem);
            height: clamp(4.5rem, 8.33vw, 7.5rem);
            //transform: rotate(78.922deg);
            justify-content: center;
            align-items: center;
        }

        & p {
            color: var(--White, #FFF);
            // font-family: SF Pro Display;
            font-size: clamp(4.5rem, 8.89vw, 8rem);
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
    }

    & .QR-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 3.75rem;
        margin-bottom: clamp(2rem, 3.61vw, 3.25rem);

        @include p.break(zero, mobile) {
            flex-direction: column;
        }

        & .left {
            display: flex;
            padding: clamp(1rem, 1.39vw, 1.25rem) 1rem;
            align-items: flex-start;
            // gap: 0.75rem;
            gap: 3.3%;
            border-radius: 0.5rem;
            border: 1px dashed var(--White, #FFF);
            height: auto;

            @include p.break(zero, mobile) {
                margin-bottom: 3.5rem;
                width: 100%;
            }

            & img {
                width: clamp(5rem, 6.94vw, 6.25rem);
                height: clamp(5rem, 6.94vw, 6.25rem);

                @include p.break(zero, mobile) {
                    height: auto;
                }

                @include p.break(tabletmin, tabletmax) {
                    width: 6rem;
                    height: auto;
                }
            }

            & div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                height: clamp(5rem, 6.94vw, 6.25rem);
                //gap: 1rem;

                @include p.break(tabletmin, tabletmax) {
                    height: 6rem;
                }

                & p {
                    color: #FFF;
                    // font-family: SF Pro Display;
                    font-size: clamp(1rem, 1.39vw, 1.25rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    // width: 19.5625rem;
                    width: clamp(12rem, 21.7vw, 19.5625rem);

                    @include p.break(zero, mobile) {
                        width: clamp(70%, 100%, 100%);
                    }
                }

                & .imgs {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 0.75rem;
                    height: 1.5rem;

                    & a {
                        width: auto;

                        & img {
                            width: 1.5rem;
                            height: 1.5rem;
                        }

                        &:hover {
                            transform: scale(1.1);
                            transition: transform 0.2s;
                        }
                    }
                }
            }
        }

        & .right {
            display: flex;
            align-items: flex-start;
            gap: 3.25rem;

            @include p.break(zero, mobile) {
                flex-flow: row wrap;
                gap: 3.25rem 20%;
            }

            @include p.break(tabletmin, tabletmax) {
                gap: 5%;
            }

            & .col {
                display: flex;
                width: clamp(8.8rem, 13.89vw, 12.5rem);
                flex-direction: column;
                align-items: flex-start;

                @include p.break(zero, mobile) {
                    flex-basis: 40%;
                }

                & h6 {
                    color: #FFF;
                    text-align: center;
                    // font-family: SF Pro Display;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 0.25rem;
                }

                & a {
                    color: #EFEFEF;
                    text-align: center;
                    // font-family: SF Pro Display;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 0.75rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    & .lang {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: clamp(3.5rem, 3.89vw, 3.5rem);

        & select {
            color: #FFF;
            background-color: inherit;
            border: none;
            // font-family: SF Pro Display;
            font-size: clamp(0.875rem, 1.67vw, 1.5rem);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            // width: 18.625rem;
            width: 24%;

            @include p.break(zero, mobile) {
                width: 54%;
                max-width: 13rem;
            }

            & option {}

            &:hover {
                color: #48D64C;
            }
        }

        & div {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            & img {
                width: clamp(1rem, 1.67vw, 1.25rem);
                height: clamp(1rem, 1.67vw, 1.25rem);
            }

            & p {
                color: #FFF;
                // font-family: SF Pro Display;
                font-size: clamp(0.875rem, 1.11vw, 1rem);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}